{{ define "hero-cards" }}

<div class="hero-card">

    {{ template "ico.playstore" . }}
    <div class="hero-card-text">Aplicaciones moviles</div>
    <div class="hero-card-sub">Actualmente en Google Play</div>

</div>
<div class="hero-card">

    {{ template "ico.api" . }}
    <div class="hero-card-text">Backend web</div>
    <div class="hero-card-sub">APIs de bajo, mediano y alto rendimiento</div>

</div>
<div class="hero-card">

    {{ template "ico.library" . }}
    <div class="hero-card-text">Librerias</div>
    <div class="hero-card-sub">Especializadas o genericas</div>

</div>
<div class="hero-card">

    {{ template "ico.agro" . }}
    <div class="hero-card-text">Automatizacion</div>
    <div class="hero-card-sub">Codigo en produccion Agrotech!</div>

</div>
<div class="hero-card">

    {{ template "ico.building" . }}
    <div class="hero-card-text">Desarrollo empresarial</div>
    <div class="hero-card-sub">Alto enfoque en seguridad</div>

</div>

{{ end }}


